# gradle

.gradle/
build/
out/
classes/
remappedSrc/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

saves/**
resourcepacks/**
run/*
whitelist.json
usercache.json
ops.json
eula.txt
banned-players.json
banned-ips.json
world/**
run/saves/*
!run/resourcepacks
!run/saves/New World
run/saves/New World/*
!run/saves/New World/datapacks
mods/**
modelworks/**
logs/**
crash-reports/**
config/**
.fabric/**
options.txt
screenshots/**